*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  padding: 10px;
  margin: 24px;
  border: 0;
  cursor: pointer;
  font-size: 1rem;
  background-color: #8a4d76;
  border-radius: 20px;
  color: #ffffff;
}

button:hover {
  background-color: #00d1b2;
}

h4 {
  font-weight: lighter;
  color: #ffffff;
}

p {
  font-size: 1rem;
}

hr {
  border: 1px solid #ffffff;
}

label {
  margin: 0;
  padding: 0.5rem;
}

ul {
  list-style-type: none;
  padding: 0;
  color: #ffffff;
}

li {
  height: 50px;
  margin: 1px 0 0 0;
  padding: 5px;
  background-color: #8a4d76;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 30px;
  justify-content: center;
}

li:before {
  content: "\200B";
  position: absolute;
}

li::after {
  content: " ";
  display: block;
  clear: both;
}

li:hover {
  background-color: #00d1b2;
}

.container {
  text-align: center;
  padding: 15px;
  background-color: #333;
}

.jumbotron {
  background-color: #8a4d76;
}

#question {
  font-weight: lighter;
  font-size: 1.5rem;
  color: #ffffff;
  margin: 0 0 1rem 0;
  padding: 2rem;
}

#playerText {
  border-radius: 20px;
  border: 0;
  text-align: center;
  width: 150px;
  background-color: #00d1b2;
}

#ul-container {
  padding: 0;
}

#choice-list {
  margin: 0;
}

#leaderboard-list {
  font-size: 1rem;
  font-weight: lighter;
  background-color: #333;
  padding: 1rem 0 1rem 0;
  margin: 0;
}

#btn-clear-scores {
  display: none;
}

#answer-confirm {
  font-weight: lighter;
  font-size: 1.5rem;
  color: #ffffff;
}
