*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  padding: 10px;
  margin: 24px;
  cursor: pointer;
  font-size: 24px;
  background-color: #ff5d88;
  border-radius: 20px;
  color: white;
}

button:hover {
  background-color: #febc5d;
}

ul {
  list-style-type: none;
  padding: 0;
  background-color: white;
}

li {
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: #ff5d88;
  color: white;
  font-size: 24px;
  line-height: 1.5;
}

li:before {
  content: "\200B";
  position: absolute;
}

li::after {
  content: " ";
  display: block;
  clear: both;
}

li:hover {
  background-color: #febc5d;
}

.container {
  text-align: center;
  /* width: 80%; */
}

.jumbotron {
  background-color: #33ffb2;
}

#leaderboard-list {
  font-size: 24px;
}
